
/*CONTENEDOR GENERAL*/
.container__fruits{
    background-color: #f6f6f9;
    padding: 2rem 7rem 0 7rem;
    gap: 2rem;

}
.imagen{
    display: block;
    max-width: 100%;
    margin: 0 auto;
    height: 200px;
    object-fit: cover;
}
/*CARDS*/
.container__fruit{
    background-color: #fff;
    border-radius: 10px;
    width: 230px;
    margin-bottom: 2.5rem;
    box-shadow: 0px 10px 15px -3px rgba(119, 119, 119, 0.26);
}
.container__fruit:hover{
    cursor: pointer;
    transition: .3s;
    transform: scale(1.06);
}
.fruit__description{
    padding: 1rem;
}