
<div class="contenedor__body flex justify-center">
  <div class="contenedor__table bg-white p-5 px-[2rem] rounded-[1rem] w-[70%] mx-auto">
      <h2 class="font-bold text-[1.5rem] py-5">Productos</h2>
      <table>
          <tr class="text-center font-bolder text-[1.1rem]" >
            <th class="">Item</th>
            <th class="">Producto</th>
            <th class="">Descripción</th>
            <th class="">Costo</th>
            <th class="">Oferta</th>
            <th class=""></th>
          </tr>
          <tr class="text-center text-[.9rem]" *ngFor="let datos of data;let indice = index">
            <td>{{indice+1}}</td>
            <td>{{datos.Nombre}}</td>
            <td class="text-[.8rem]">{{datos.Descripcion}}</td>
            <td>{{datos.Costo}}</td>
            <td>{{datos.Oferta}}</td>
            <td>
              <button (click)="eliminar(datos)" class="bg-red-500 py-2 px-3 hover:bg-red-600 text-white"><i class="bi bi-trash-fill"></i></button>
            </td>

          </tr>


      </table>
      <div class=" mt-5 flex justify-end">
        <div class="mb-4">
          <button class="bg-green-600 py-2 px-3 hover:bg-green-700 text-white" (click)="enviar()">Agregar</button>
        </div>
      </div>
  </div>

</div>
